@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="Teste" class="btn btn-primary w-100">Testar Unhandle Error</button>

@code
{
    private void Teste()
    {
        throw new Exception("Erro muito doido");
    }
}
