<div class="splash-screen">
    <p>Carregando...</p>
</div>

<style>
    .splash-screen {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }
</style>