@using Treinamento.BlazorServerApp.Components.Pages.Auth
@using Treinamento.BlazorServerApp.Components.Pages.Componentes
@inherits LayoutComponentBase

<AuthorizeView>
    <Authorizing>...</Authorizing>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
                </div>

                <article class="content px-4">
                    <ErrorBoundary @ref="_errorBoundary">
                        <ChildContent>
                            
                            @Body

                        </ChildContent>
                        <ErrorContent Context="Exception">
                            <ErrorDisplay Exception="@Exception" ErrorBoundary="_errorBoundary" />
                        </ErrorContent>
                    </ErrorBoundary>
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code
{
    private ErrorBoundary _errorBoundary = new();
}